// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-item {
  color: #aaa;
}

#meeting-list {
  .initiator-photo{
    margin-right:15px;
  }
  .meeting-list-item-msg {
    height: 36px;
    overflow:hidden;
  }
}
